/* -----------------------------------------------------------------------------
   project.scss
----------------------------------------------------------------------------- */
body {
  font: 0.75em/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Links */
a {
  color: #0076A1;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}



.wrapper {
  background: #fff;
  margin: 0 auto;
}

.page:before {
  background: #808077;
  height: 80px;
  display: block;
  content: '';
}


/* -----------------------------------------------------------------------------
   Typo
----------------------------------------------------------------------------- */

.titre {
  margin: 0;
  padding: 5px 15px;
  font-size: 3em;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  background: #fff;
}

.sur-titre {
  margin: 0;
  padding: 5px 0 5px 15px;
  font-size: 2em;
  line-height: 0.8;
  font-weight: bold;
  background: #0076A1;
  color: #fff;
  text-transform: uppercase;
}

.sous-titre {
  clear: left;
  float: left;
  padding: 5px 15px;
  font-size: 1.5em;
  line-height: 0.8;
  font-weight: normal;
  background: #005374;
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  border-top: 1px solid #fff;
}

.chapeau {
  margin: 0;
  padding: 8px 0;
  color: #6D6E71;
  font-size: 1.333em;
  line-height: 1.2;
  font-weight: bold;
}


.h1 {
  margin: 0.1em 0 0.5em;
  font-size: 3.2em;
  line-height: 1;
  font-weight: bold;
  color: #000;
}

.pict-left {
  margin: 1em 0;
  text-align: center;
}

.pict-left img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.auteur {
  margin: 0 0 1em;
  color: #fff;
  background: #0076A1;
  font-size: 1em;
  line-height: 1.3;
  padding: 1em;
  text-transform: uppercase;

    -webkit-border-radius: 0 1em 1em;
            border-radius: 0 1em 1em;
}
.auteur strong {
  display: block;
}


.auteur + .texte:first-letter {
  position: relative;
  display: block;
  float: left;
  padding: 10px 15px;
  width: 1.5em;
  height: 1.5em;
  font-size: 3em;
  font-weight: bold;
  line-height: 1;
  background: #808077;
  color: #fff;
  margin-right: 5px;
  text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-border-radius: 50% 50% 0 50%;
            border-radius: 50% 50% 0 50%;
}

.texte {
  text-align: justify;
  margin: 0;
}

.texte + .texte {
  text-indent: 1em;
}


.h2 {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 1em 0 0;
  color: #0076A1;
  font-weight: bold;
  text-transform: uppercase;
}

.h2 + p {
  margin-top: 0;
}

footer {
  margin: 4em 2em;
}

  .foot-note {
    margin: 0;
    padding: 0.5em 0;
    border-top: 1px solid #000;
  }

    .foot-note:first-letter {
      font-weight: bold;
      font-size: 1.25em;
    }